@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #eaeaea;
    --bg-color: #fff;
    --nav-bg: #3f69d4;
    --shadow: rgba(0, 0, 0, 0.2);
    --right-side: #fff;
    --search-bg: #fff;
    --search-border: #3f69d4;
    --txt1: #555;
    --txt2: #666;
    --hover-effect: #0404041b;
    --load-btn-bg-hover: #444;
    --load-btn-txt-hover: #fff;
    --btn-bg-1: #00000029;
}

.dark-theme {
    --body-color: #222;
    --bg-color: #000;
    --nav-bg: #000;
    --shadow: rgba(255, 255, 255, 0.2);
    --right-side: #000000;
    --search-bg: transparent;
    --search-border: #f8f8f8;
    --txt1: #dfdfdf;
    --txt2: #c0c0c0;
    --hover-effect: #fafafa33;
    --load-btn-bg-hover: #e0e0e0;
    --load-btn-txt-hover: #000;
    --btn-bg-1: #ffffff50;
}

.icon {
    color: #666;
}

a:link {
    text-decoration: none;
}

.container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-header {
    font-size: 1.17rem;
    font-weight: 600;
    color: var(--txt1);
}

.container-sub-header {
    display: block;
    font-size: .8rem;
    font-weight: 400;
}

.more {
    font-size: .8rem;
    color: #2b77d5;
    cursor: pointer;
}

.more:hover {
    text-decoration: underline;
}

body {
    font-family: Poppins;
    background-color: var(--body-color);
    width: 100vw !important;
    overflow-x: hidden;
    transition: background .3s;
}

.container {
    padding: 0 5%;
}

nav {
    background: var(--nav-bg);
    color: aliceblue;
    padding: 1rem 5%;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    transition: background .3s;
}

.logo {
    color: #fff;
    font-size: 2rem;
    transition: .3s;
}

.logo span {
    background: #fff;
    color: black;
    padding: 0 .7rem;
    border-radius: 5px;
    transition: .3s;
}

.logo:hover {
    color: #3b3b3b;
}

.logo:hover span {
    color: #e3e3e3;
    background: #373737;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    /* background: #000; */
    /* flex: 1; */
}

.nav-left ul {
    display: flex;
}

.nav-left ul li {
    display: flex;
    align-items: center;
}

.nav-left ul li img {
    width: 28px;
    margin: 0 15px;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* background: #12b56c; */
    /* flex: 1; */
}

.search-container {
    width: 350px;
    background: var(--search-bg);
    border: 1px solid var(--search-border);
    display: flex;
    padding: 12px 15px;
    border-radius: 22px;
    gap: .9rem;
}

.search-container img {
    width: 18px;
    height: 18px;
    cursor: pointer;
    /* margin-top: 2px; */
}

.search-container input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.1rem;
    color: var(--txt1);
}

.nav-user-profile {
    display: flex;
    cursor: pointer;
}

.online {
    position: relative;
}

.online::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 8px;
    width: 8px;
    background: rgb(0, 157, 255);
    border-radius: 50%;
    border: 2px solid #fff;
}

.nav-user-profile img {
    width: 40px;
    border-radius: 50%;
}

.nav-user-profile.show-dropdown .user-options {
    /* background: #000; */
    height: 400px;
}

.user-options {
    position: absolute;
    top: 155%;
    width: 370px;
    right: 0;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #777;
    border-radius: 7px;
    height: 0;
    overflow: hidden;
    transition: .2s;
}

.user {
    padding: .8rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid #b5b5b5;

}

.user-options-options {
    padding: .5rem;
    padding-bottom: 1rem;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6rem .5rem;
    /* padding: 0 .5rem; */
    cursor: pointer;
    transition: .3s;
    border-radius: 7px;
    color: var(--txt1);
}

.option:hover {
    background: var(--hover-effect);
}

.option div {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
}

.option-icon {
    font-size: 1.2rem;
}

/* toggle button */
.toggle-btn {
    position: absolute;
    top: 20px;
    right: 17px;
    background: #aaa;
    height: 25px;
    width: 45px;
    border-radius: 18px;
    padding: 2px 3px;
}

.toggle-btn span {
    display: inline-block;
    width: 20px;
    height: 20px;
    /* margin-top: 2.2px;
    margin-left: 2px; */
    background: #fefdfd;
    border-radius: 50%;
    transition: transform .3s;
}

.toggle-btn span.on {
    transform: translateX(100%);
}

/* ============ */

/* main starts */
.main {
    margin: 85px 5%;
    margin-bottom: 0;
    display: flex;
    gap: 2rem;

}

.left, .right {
    /* flex-basis: 25%; */
    width: 25%;
    position: sticky;
    top: 85px;
    align-self: flex-start;
    height: calc(100vh - 85px);
    overflow-y: auto;
    padding-top: .5rem;
    padding-bottom: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
}

hr {
    background-color: rgb(225, 215, 215);
    height: 2px;
    border: none;
}

.left::-webkit-scrollbar, .right::-webkit-scrollbar {
    display: none;
}

.left-links, .shortcuts ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1.7rem;
}

.left-links li, .shortcuts ul li {
    display: flex;
    gap: 1rem;
    /* margin-top: 1rem;
    margin-bottom: 2rem; */
    align-items: center;
    color: var(--txt1);
}

.left-links li:last-child {
    color: #1539ef;
    font-weight: 500;
}

.left-links li img {
    width: 25px;
}

.shortcuts {
    margin: 1rem 0;
}

.shortcuts ul li img {
    width: 40px;
    border-radius: 8px;
}

.shortcuts ul {
    margin-top: 1.6rem;
}

.section-title {
    font-size: 1rem;
    color: var(--txt2);
    font-weight: 600;
}

.main-left .section-title {
    /* font-size: 1.17rem; */
}

.footer-links, .footer-links a, .footer-links span {
    color: var(--txt2);
    font-size: .75rem;
    padding-right: .2rem;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* ============== */

.middle {
    /* flex-basis: 50%; */
    width: 47%;
    /* background: #790808; */
    flex-grow: 0 !important;
    flex-shrink: 1 !important;
}

.story-container {
    display: flex;
    gap: .8rem;
    overflow: auto;
    position: relative;
    transition: .3s;
}

.story {
    position: relative;
    /* height: 200px; */
    border-radius: 10px;
    overflow: hidden;
    flex: 1;
}

.story .story-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
}

.profile-story {
    position: absolute;
    top: 5%;
    left: 5%;
    /* transform: translate(-50%, -50%); */
    width: 46px !important;
    border-radius: 50%;
    border: 5px solid #48f;
}

.story span {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    display: inline-block;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    padding: 1rem 0;
    color: #fff;
}

.create-story span::after {
    content: "+";
    position: absolute;
    bottom: 30px;
    left: 50%;
    height: 30px !important;
    width: 30px !important;
    background: #2b77d5;
    /* padding: .4rem; */
    border-radius: 50%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* line-height: 1.3rem; */
    transform: translate(-50%, -50%);
    color: #fff;
    border: 2px solid #fff;
}

/* story ends */

/* write post section */

.write-post-container {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    background: var(--right-side);
    padding: 1rem;
    border-radius: 6px;
    align-items: flex-start;
    justify-content: baseline;
}

.main-right .write-post-container {
    margin-top: 0;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-info h3 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--txt2);
}

.user-info p {
    font-size: .78rem;
    font-weight: 500;
    color: #888;
}

.write-post-textarea {
    width: 100%;
    height: 70px;
    resize: none;
    font-family: inherit;
    border: none;
    border-bottom: 2px solid #dad2d2;
    outline: none;
    margin-top: 1.5rem;
    color: var(--txt2);
    font-size: .9rem;
    background: transparent;
}

.post-options {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-top: .7rem;
}

.post-options img {
    width: 20px;
}

.post-options li {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .8rem;
    color: #828282;
    margin-right: 1.5rem;
    font-weight: 500;
}

/* post container starts */
.post {
    margin: 1.5rem 0;
    background: var(--right-side);
    padding: 1.5rem;
    border-radius: 7px;
    box-shadow: 0 0 16px var(--shadow);
}

.post-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-options {
    transition: .3s;
}

.view-options:hover {
    /* background: #000; */
    cursor: pointer;
    color: #aaa;
}

.post-user {
    display: flex;
    gap: 0.7rem;
}

.post-body {
    margin: 1rem 0;
}

.post-body p {
    color: var(--txt2);
    font-weight: 500;
}

.post-body a {
    color: rgb(80, 109, 206);
    font-weight: 700;
}

.post-body a:hover {
    text-decoration: underline;
}

.post-img img {
    width: 100%;
    border-radius: 7px;
    margin-top: 1.2rem;
}

.post-footer {
    display: flex;
    justify-content: space-between;
}

.reactions {
    list-style: none;
    display: flex;
    gap: 1.8rem;
}

.reactions li {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--txt1);
}

.reactions img {
    width: 17px;
}

.post-footer-right {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.post-footer-pro-pic {
    width: 24px;
    border-radius: 50%;
}

.load-btn-container {
    text-align: center;
    margin-bottom: 2rem;
}

.load-btn {
    padding: .7rem 1rem;
    font-size: 1rem;
    font-family: inherit;
    background: transparent;
    border: 1px solid #888;
    border-radius: 7px;
    cursor: pointer;
    transition: .3s;
    color: var(--txt1);
}

.load-btn:hover {
    background: var(--load-btn-bg-hover);
    color: var(--load-btn-txt-hover);
}

.load_err {
    color: #db3c3c;
    position: relative;
    display: none;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.load_err.show {
    display: inline-block;
}

.load_err::before {
    content: '';
    position: absolute;
    left: -26px;
    top: 50%;
    background: #db3c3c;
    height: 2px;
    width: 20px;
}

.load_err::after {
    content: '';
    position: absolute;
    right: -26px;
    top: 50%;
    background: #db3c3c;
    height: 2px;
    width: 20px;
}

/* right =================== */

.right {
    background: var(--right-side);
    border-radius: 6px;
    padding: 0rem 1rem;
    padding-bottom: 1rem;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .8rem 0 1.2rem
}

.link-more {
    color: blue;
    font-size: .8rem;
    cursor: pointer;
    transition: .3s;
}

.link-more:hover {
    text-decoration: underline;
}

.event {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.event-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.date-container {
    box-shadow: 0 0 10px #dadada;
    width: 65px;
    position: relative;
    border-radius: 9px;
    overflow: hidden;
}

.date-container span:last-child {
    position: absolute;
    background: #3f69d4;
    bottom: 0;
    left: 0;
    font-size: .65rem;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: .12rem 0;
}

.date-container span:first-child {
    display: block;
    padding: 1.1rem 0;
    text-align: center;
    transform: translateY(-10px);
    font-weight: 700;
    color: #666;
}

.addr {
    font-size: .8rem;
    color: #777;
    font-weight: 600;
}

.ad img {
    width: 100%;
    border-radius: 8px;
}

.chats {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.chat {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: .3rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    color: var(--txt1);
}

.chat img {
    width: 40px;
    border-radius: 50%;
}

.chat .online::after {
    top: unset;
    bottom: 7px;
}

.chat:hover {
    background: var(--hover-effect)
}

/* ============ */
/* END OF HOMEPAGE */
/* ====================================================================================================================== */
/* BEGINing OF PROFILE PAGE */

.profile-container {
    width: 1120px;
    max-width: 1120px;
    margin: auto;
    margin-top: 90px;
}

.cover-photo img {
    width: 100%;
    border-radius: 10px;
}

.profile-top {
    display: flex;
    background: var(--bg-color);
    justify-content: space-between;
    margin: 1rem 0;
    border-radius: 8px;
    padding: 1rem;
    color: var(--txt2);
}

.profile-photo-big {
    width: 120px;
    border-radius: 7px;
    border: 1px solid #fff;
    overflow: hidden;
}

.pt-left {
    display: flex;
    align-items: start;
    gap: 1.4rem;
}


.pname {
    display: flex;
    flex-direction: column;
    gap: .97rem;
    justify-content: space-between;
}

.pname h2 {
    margin: 0;
    padding: 0;
    line-height: 1.6rem;
    font-size: 1.8rem;
}

.pname span {
    font-size: .9rem;
}

.friend-img img {
    width: 30px;
    border-radius: 50%;
}

.pt-right {
    /* background: #000; */
}

.pt-top {
    display: flex;
    gap: .9rem;
}

.pt-top div {
    background: var(--btn-bg-1);
    font-size: .9rem;
    padding: .5rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    border-radius: 4px;
    color: var(--txt1);
    cursor: pointer;
    transition: background .3s;
}

.pt-top div:hover {
    background: #3f69d4;
    color: #ffff;
}

.pt-top div:last-child {
    background: #3f69d4;
    color: #fff;
}

.pt-top div:last-child:hover {
    background: #333;
    /* color: #333; */
}

.pt-top img {
    width: 20px;
}

.pt-bottom {
    text-align: right;
    margin-top: 2rem;
}

.pt-bottom img {
    width: 40px;
    background: var(--btn-bg-1);
    padding: .8rem .5rem;
    border-radius: 4px;
}

.profile-main {
    display: flex;
    gap: 1.4rem;
}

.main-left {
    flex: 3;
    /* position: sticky;
    top: 85px;
    align-self: flex-start;
    height: 190vh; */
}

.left-containers {
    background: var(--bg-color);
    border-radius: 5px;
    padding: 1rem;
    color: var(--txt1);
    margin-bottom: 1.3rem;
}

.intro-container {
    border-bottom: 1px solid #c9c9c9;
}

.intro-txt {
    color: var(--txt1);
    text-align: center;
    font-size: .93rem;
    margin: .8rem .3rem;
    opacity: .8;
}

.work {
    list-style: none;
}

.work li {
    padding: .8rem 0;
}

.work li:first-child {
    padding-top: 1rem;
}

.work li span {
    margin-left: .5rem;
    font-size: .9rem;
}

.photos, .friends {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    margin-top: .6rem;
}

.photos img, .friends img {
    width: 95px;
}

.friends span {
    font-size: .8rem;
    display: block;
    text-align: center;
    margin-top: -.2rem;
}

.main-right {
    flex: 7;

}